@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply transition-colors duration-300;
  }
}

@layer components {
  .card-hover {
    @apply transform transition-all duration-300 hover:scale-105 hover:shadow-xl;
  }
}

@layer utilities {
  .animate-spin-slow {
    animation: spin 3s linear infinite;
  }
  .bg-light-mode {
    background-image: url('https://img.freepik.com/free-photo/abstract-luxury-blur-grey-color-gradient-used-as-background-studio-wall-display-your-products_1258-52723.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #e5e5e5;
  }
}

.dark {
  background-color: #1a202c;
  color: #f7fafc;
}